begin;

create or replace function public.edupay_get_dashboard(p_school_id uuid)
returns json
language plpgsql
security definer
as 
declare
  result json;
begin
  select json_build_object(
    'success', true
  ) into result;
  return result;
end;
;

commit;
